* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    /* <-- CORREÇÃO 1: Alinha tudo no topo da página */
    justify-content: center;
    background-color: #DADFE8;
}

/* No seu src/css/global.css */

.pokedex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 30px 20px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* Novo cálculo: 260(desc) + 400(card) + 200(lista) + 25(gap) + 25(gap) = 910px */
    max-width: 930px;
    /* Reduzido para acompanhar */
    margin: 0 auto;
}